@media (max-width: 1522px)
  .casewrap 
    margin-top: -455px
    margin-left: -135px
    img
      width: 781px
@media (max-width: 1324px)
  .casewrap 
    margin-top: -410px
    margin-left: -135px
    img
      width: 681px
@media (max-width: 1200px)
  .frame p
    padding-right: 0

  .casewrap 
    margin-top: -385px
    margin-left: -12%
    img
      width: 550px

  .study-text,.platform-text
    margin-right: 50px

  .sms-sign-text,.low-spread-text
    margin-left: 50px

  .links
    line-height: 26px

  .clean-100
    margin-left: 40px
    margin-right: 40px
  .ut span
    display: none
  .diners,.borse
    margin-top: 20px

@media (max-width: 1065px)
  .casewrap 
    margin-top: -310px
    margin-left: -9%
    img
      width: 450px

@media (max-width: 991px)
  .buttom_form
    a
      height: 60px
      border-radius: 30px
      margin-top: 150px
      @include font-med-norm()
      color: #333333
      text-transform: uppercase
      text-indent: 10px
      &::before
        display: inline-block
        content: url("../img/arrow-bold.png")
        vertical-align: middle
        padding-top: 18px
        padding-right: 27px
        margin-left: -40px
        margin-right: 25px
        border-right: 1px solid #000000
        height: 60px
  
  .middle p
    @include font-reg-norm()

  .middle-header h2
    margin-top: 100px
    padding-bottom: 50px

  .study>.row
   flex-direction: column-reverse
   justify-content: flex-end
   padding-top: 4px
   
   

  .study .study-img
    align-self: flex-end !important
    margin-right: 48px
    margin-bottom: 38px

  .study .study-text
    margin-right: 0
    align-self: flex-end
    margin-right: 33px

  .middle-second
    margin-top: 50px


  .platform>.row
   flex-direction: column-reverse

  .platform .platform-img
    align-self: flex-end !important
    margin-right: 48px
    margin-bottom: 25px
  
  .platform .platform-text
    margin-right: 0
    align-self: flex-end
    margin-right: 33px

  .sms-sign>.row
    justify-content: flex-start!important

  .sms-sign .sms-sign-text
    margin-left: 33px
    align-self: flex-start


  .sms-sign .sms-sign-img
    margin-left: 48px
    margin-bottom: 30px

  .low-spread>.row
    justify-content: flex-start!important

  .low-spread .low-spread-img
    margin-left: 48px
    margin-bottom: 26px

  .low-spread .low-spread-text
    margin-left: 33px
    align-self: flex-start

  .casewrap 
    margin-top: -50px
    margin-left: -5%
    img
      width: 450px

  .links
    text-align: center
   
  .cer span
    display: inline
  
  .ut span
    display: none

  .cer
    text-align: left
    padding-right: 0px !important

  .arb
    text-align: right
  .webmoney,.qiwi,.swift,.diners,.borse
    margin-top: 20px

  .diners
    img
      margin-left: auto
      margin-right: none

  .borse
    img
      margin-right: auto
      margin-left: none

@media (max-width: 870px)
  .casewrap 
    margin-top: -50px
    margin-left: -10%
    img
      width: 440px

@media (max-width: 767px)
  .casewrap
    display: none

  .ps,.pr,.cer,.ut,.arb 
    text-align: center;
  .ps span
    display: none
  
  .pr span
    display: none
  
  .cer span
    display: none
  
  .ut span
    display: none

  .cer
    padding-right: 0px !important
    margin-left: 0
  
  .arb
    padding-left: 0px !important

@media (max-width: 576px)
  .links-line-2
    padding-right: 15px !important
    padding-left: 15px !important
