@media (max-width: 1522px)
  .casewrap 
    margin-top: -455px
    margin-left: -135px
    img
      width: 781px
@media (max-width: 1324px)
  .casewrap 
    margin-top: -410px
    margin-left: -135px
    img
      width: 681px
@media (max-width: 1200px)
  .frame p
    padding-right: 0

  .casewrap 
    margin-top: -385px
    margin-left: -12%
    img
      width: 550px

  .links
    line-height: 26px

  .clean-100
    margin-left: 40px
    margin-right: 40px
  .ut span
    display: none
  .diners,.borse
    margin-top: 20px

@media (max-width: 991px)
  .links
    text-align: center
   
  .cer span
    display: inline
  
  .ut span
    display: none

  .cer
    text-align: left
    padding-right: 0px !important

  .arb
    text-align: right
  .webmoney,.qiwi,.swift,.diners,.borse
    margin-top: 20px

  .diners
    img
      margin-left: auto
      margin-right: none

  .borse
    img
      margin-right: auto
      margin-left: none

@media (max-width: 767px)
  .ps,.pr,.cer,.ut,.arb 
    text-align: center;
  .ps span
    display: none
  
  .pr span
    display: none
  
  .cer span
    display: none
  
  .ut span
    display: none

  .cer
    padding-right: 0px !important
    margin-left: 0
  
  .arb
    padding-left: 0px !important

@media (max-width: 576px)
  .links-line-2
    padding-right: 15px !important
    padding-left: 15px !important
