@import "var.sass"
@import "norm.sass"

.head 
	background-image: url("../img/BG1.png")
	background-size: cover
	background-repeat: no-repeat
	min-height: 720px
	padding-top: 60px

.logo
	margin-bottom: 50px

.frame	
	overflow: hidden		

.frame p
	display: inline-block
	color: $gold
	border-left: 1px solid $gold
	border-top: 1px solid $gold
	border-bottom: 1px solid $gold
	@include font-lig-norm()
	font-size: 18px
	padding: 15px
	width: 420px
 
.frame br
    display: none

.frame::after
	display: inline-block
	position: relative
	content: ''
	border-left: 1px solid $gold
	border-bottom: 1px solid $gold
	transform: rotate(45deg)
	width: 37px
	height: 38px
	margin-right: 0px
	top: 12px
	left: -23px

.casewrap
	// background-image: url("../img/case.png")
	// background-size: contain
	// background-repeat: no-repeat
	// width: 881px
	// height: 817px
	// position: relative
	// top: -130px
	// left: -150px
	margin-top: -485px
	margin-left: -135px
	img	
  	display: inline-block
 		height: auto
  	width: 881px

.head-text
	color: #ffffff
	h1
		font-weight: lighter !important
		padding-top: 35px
		font-size: 46px
	p
		padding-top: 20px

.buttom_form
	a
		display: block
		width: 285px
		height: 50px
		border-radius: 25px
		background-color: $gold
		text-align: center
		// padding-top: 10px
		font-size: 18px	
		text-decoration: none	
		margin-top: 50px
		color: #000000
		&:hover
			text-decoration: underline
		&::before
			display: inline-block
			content: url("../img/arrow.png")
			vertical-align: middle
			padding-top: 13px
			padding-right: 13px
			margin-left: -30px
			margin-right: 45px
			border-right: 1px solid #000000
			height: 50px

.middle
	background-image: url("../img/bg3.png")
	background-size: cover
	background-repeat: no-repeat
	background-position-x: 50%
	min-height: 822px
	margin-top: -55px

.middle-header 
	padding-left: 15px
	padding-right: 15px
	h2
		margin-top: 155px
		text-align: center
		color: #444444
		@include font-med-norm()
		font-size: 24px 
		text-transform: uppercase
		padding-bottom: 105px


.study-text
	@include text-prop('right')
	
.study-img
	@include background(url(../img/laptop.png),119px,108px)

.sms-sign-text
	@include text-prop('left')

.sms-sign-img
	@include background(url(../img/smartphone.png),103px,119px)

.middle-second
	margin-top: 85px

.platform-text
	@include text-prop('right')

.platform-img
	@include background(url(../img/rocket.png),104px,119px)

.low-spread-img
	@include background(url(../img/desk.png),119px,118px)

.low-spread-text
	@include text-prop('left')	

.bottom
	// position: relative
	// top: -30px
	background-image: url("../img/form_bg.png")

	background-size: 	cover
	background-repeat: no-repeat
	background-position-x: 50%
	background-position-y: -37px
	min-height: 991px
	margin-top: -20px	

.bottom-header-img
	margin-top: 100px
	// margin-bottom: -130px
	img
		display: block
		width: 100%



.form-header
	h3
		display: inline-block
		text-transform: uppercase
		font-size: 24px
		color: #ffffff
		@include font-med-norm()
		margin-bottom: 30px
		text-align: center

.leadform-wrap
	min-height: 200px

@import "../css/LeadForm"

.policy
  text-align: center 
  padding-bottom: 15px
  color: #ffffff
  margin-top: 15px
  @mixin font-lig-norm()
  font-size: 12px
  a 
    color: #ffffff

// .footer-wrap
// 	background-image: url("../img/footer-bg.png")
// 	background-size: cover
// 	background-repeat: no-repeat
// 	background-position-x: 50%
// 	// margin-top: -50px
// 	position: relative
// 	top: -60px
// 	margin-bottom: -60px

.footer
	//background-color: $dark_grey
	min-height: 285px
	color: $blue
	background-image: url("../img/footer-bg.png")
	background-size: cover
	background-repeat: no-repeat
	background-position-x: 50%
	margin-top: -68px
	// position: relative
	// top: -60px
	// margin-bottom: -60px

.links 
  padding-top: 70px
  padding-bottom: 20px
 	font-size: 16px
 	@include font-reg-norm()
  div
    padding-right: 0px
    padding-left: 0px
  a 
    color: $blue
    text-decoration: none
    &:hover
      text-decoration: underline

.age-18
  @include background(url(../img/18.png),31px,31px)
  align-self: center

.clean-100
  @include background(url(../img/war_100.png),38px,38px)

.ssl
  @include background(url(../img/ssl.png),41px,35px)

.bottom-text-wrap
  color: $blue
  text-align: center
  font-size: 14px
  line-height: 2em
  padding-top: 20px

.copyright
  padding-top: 20px

.cer
	margin-left: 15px

@import "payments.sass"
@import "media.sass"